$clr: #00d363;

%flex-col {
  display: flex;
  flex-direction: column;
}

#joblist {
  min-height: 1117px;
  max-width: 100%;
  background-color: #f5f7fa;

  .section-container {
    margin: 0px 200px;
    @extend %flex-col;
    max-width: 100%;

    .section-name {
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      .name {
        width: 50%;
        font-size: 38px;
      }
      .bmj-btn {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        a {
          width: 180px;
          height: 51px;
          color: $clr;
          border-radius: 5px;
          font-weight: bold;
          font-size: 15px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $clr;
        }
        a:hover {
          background-color: $clr;
          color: white;
          border: 1px solid $clr;
        }
      }
    }
    .list {
      margin-top: 50px;
      .list-box {
        max-width: 1110px;
        min-height: 144px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 30px;
        .list-box-name {
          display: flex;
          .list-box-logo {
            margin-right: 25px;
            padding: 15px;
            background-color: #f5f7fa;
            width: 70px;
           
          }
          .list-box-info {
            @extend %flex-col;
            justify-content: space-around;
            .list-box-info-name {
              font-size: 24px;
              cursor: pointer;
              transition: 300ms;
            }
            .list-box-info-name:hover {
              color: $clr;
            }
            .list-box-info-loc {
              display: flex;
              gap: 30px;
              color: #aab1b7;
            }
          }
        }
        @media screen and (max-width: 750px) {
          .list-box-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center
          }
        }
        .list-box-btn {
          @extend %flex-col;
          height: 82px;
          justify-content: space-around;
          .list-box-aplybtn {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .like {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              color: #00d363;
              font-size: 14px;
              line-height: 40px;
              text-align: center;
              background-color: #effdf5;
              cursor: pointer;
              transition: 300ms;
            }
            .like:hover {
              color: white;
              background-color: #00d363;
            }
            a {
              max-width: 122px;
              height: 40px;
              background-color: #00d363;
              text-align: center;
              line-height: 40px;
              color: white;
              border-radius: 5px;
              font-weight: bold;
              font-size: 15px;
              transition: 300ms;
            }
            a:hover {
              background-color: white;
              color: $clr;
              border: 1px solid $clr;
            }
          }

          .date {
            font-style: italic;
            color: #7a838b;
            font-size: 14px;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      @media screen and (max-width: 820px) {
        .list-box {
          display: flex;
          flex-direction: column;
          max-width: 1110px;
          min-height: 144px;
          flex-direction: column;
          background-color: white;
          margin-bottom: 20px;
          border-radius: 10px;
          padding: 30px;
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .section-container {
      margin: 0px 100px;
    }
  }
  @media screen and (max-width: 820px) {
    .section-container {
      margin: 0px 0px;
    }
  }
}
